@import url("https://fonts.cdnfonts.com/css/manrope");
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
button {
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}

.dev-header {
  padding-top: 180px;
  background-color: #000000;
}
.dev-header .dev-replayer {
  text-align: center;
  padding-bottom: 60px;
}
.dev-header .dev-replayer .replayer-title {
  font-size: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}
.dev-header .dev-replayer .replayer-desc {
  color: var(--neutral-02, #9BA3B9);
  text-align: center;
  /* Text - 1440 */
  padding: 10px 0px;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.dev-header .dev-replayer .replayer-desc p {
  margin-bottom: 0px;
}
.dev-header .dev-replayer .replayer-btn {
  padding: 20px 0px;
}
.dev-header .dev-replayer .replayer-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.dev-header .dev-replayer .replayer-btn a:hover {
  text-decoration: unset;
  background: #0962FF;
}
.dev-header .dev-replayer .replayer-img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.dev-header .dev-who {
  padding-top: 100px;
  padding-bottom: 60px;
}
.dev-header .dev-who-title {
  color: #FFF;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.dev-header .dev-who ul {
  display: flex;
  gap: 80px;
}
.dev-header .dev-who li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--neutral-02, #9BA3B9);
  /* H4 -1440 */
  font-size: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.dev-why {
  background: var(--neutral-05, #141414) !important;
}
.dev-why-title {
  text-align: center;
  /* H2- 1440 */
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.dev-why-title p {
  margin-bottom: 0px;
}
.dev-why-header {
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.dev-why-txtBlue {
  color: var(--primary-02, #86B2FF) !important;
}

.dev-interested {
  background: var(--neutral-05, #141414);
  padding: 80px 0px;
}
.dev-interested .row {
  align-items: center;
}
.dev-interested-title {
  color: var(--neutral-01, #FFF);
  /* H2- 1440 */
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.dev-interested-desc {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 10px 0px;
}
.dev-interested-btn {
  padding-top: 20px;
}
.dev-interested-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.dev-interested-btn a:hover {
  background: var(--primary-01, #0962FF);
  text-decoration: unset;
}

.home-about {
  padding: 160px 0px 80px 0px;
  background-color: #000000;
}
.home-about-img {
  width: 100%;
}
.home-about-item {
  padding-left: 7%;
}
.home-about-title {
  font-size: 48px;
  font-family: "Manrope";
  font-weight: 800;
  line-height: 100%;
}
.home-about-download {
  gap: 15px;
  padding-bottom: 20px;
}
.home-about-content {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  padding-top: 15px;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.home-about-desc {
  gap: 20px;
}
.home-about-desc div {
  color: #9BA3B9;
  /* Text - 1440 */
  font-size: 18px;
  font-family: "Manrope";
  line-height: 120%;
  max-width: 392px;
}
.home-about .row {
  align-items: center;
}
.home-about-btn {
  padding-top: 30px;
}
.home-about-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.home-about-btn a:hover {
  text-decoration: unset;
  background: #0962FF;
}
.home-about .about-top {
  padding-top: 80px;
  text-align: center;
}
.home-about .about-top-title {
  max-width: 640px;
  margin: auto;
  font-size: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}
.home-about .about-top-desc {
  max-width: 640px;
  margin: auto;
  padding-top: 15px;
  color: var(--neutral-02, #9BA3B9);
  text-align: center;
  /* Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.home-customers {
  background-color: #000000;
  padding: 70px 0px;
}
.home-customers-title {
  margin: auto;
  font-size: 24px;
  font-family: "Manrope";
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 110%;
}
.home-customers .d-flex {
  justify-content: space-evenly;
}

.home-what {
  background: var(--neutral-05, #141414);
  padding: 70px 0px;
}
.home-what-title {
  font-size: 40px;
  font-family: "Manrope";
  font-weight: 800;
  line-height: 110%;
}
.home-what-desc {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  font-size: 18px;
  font-family: "Manrope";
  line-height: 120%;
  padding-top: 15px;
}
.home-what-header {
  color: var(--primary-01, #0962FF);
  /* H3 - 1440 */
  padding-top: 40px;
  font-size: 32px;
  font-family: "Manrope";
  font-weight: 700;
  line-height: 110%;
}
.home-what p {
  margin-bottom: 0px;
}
.home-what .row {
  align-items: center;
}

.home-why {
  background-color: #000000;
  padding: 70px 0px;
}
.home-why-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-why-header-txt {
  font-size: 40px;
  font-family: "Manrope";
  font-weight: 800;
  line-height: 110%;
}
.home-why-header-btn {
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: "Manrope";
  font-weight: 800;
  line-height: 24px;
  padding: 16px 28px;
  border-radius: 40px;
  border: 1px solid #0962FF;
}
.home-why-header p {
  margin-bottom: 0px;
}
.home-why-content {
  border: 1px solid var(--neutral-04, #6A6A6A);
  border-radius: 30px;
  margin-top: 40px;
}
.home-why-content .row {
  margin-left: 0px;
  margin-right: 0px;
}
.home-why-content .row:nth-child(1) {
  border-bottom: 1px solid var(--neutral-04, #6A6A6A);
}
.home-why-item {
  padding: 40px;
  min-height: 414px;
}
.home-why-item:nth-child(2), .home-why-item:nth-child(3) {
  border-left: 1px solid var(--neutral-04, #6A6A6A);
}
.home-why .why-item {
  display: flex;
  align-items: center;
}
.home-why-title {
  color: var(--neutral-01, #FFF);
  /* H3 - 1440 */
  font-size: 30px;
  padding-top: 20px;
  font-family: "Manrope";
  font-weight: 700;
  line-height: 110%;
}
.home-why-desc {
  color: var(--neutral-02, #9BA3B9);
  padding-top: 5px;
  font-size: 18px;
  font-family: "Manrope";
  line-height: 120%;
}

.home-team {
  background: var(--neutral-05, #141414);
  padding: 70px 0px;
}
.home-team-title {
  text-align: center;
  /* H2- 1440 */
  font-size: 40px;
  font-family: "Manrope";
  font-weight: 800;
  line-height: 110%;
}
.home-team-desc {
  color: var(--neutral-02, #9BA3B9);
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 18px;
  font-family: "Manrope";
  line-height: 120%;
  padding-bottom: 30px;
}
.home-team-desc1 {
  max-width: 576px;
}
.home-team-item {
  position: relative;
}
.home-team .item-team {
  position: absolute;
  text-align: center;
  width: 92%;
  padding-bottom: 10px;
  bottom: 23px;
  background: linear-gradient(180deg, rgba(6, 6, 6, 0) 0%, #060606 93.23%);
  border-radius: 13px;
}
.home-team .item-team-title {
  color: var(--neutral-01, #FFF);
  font-size: 28px;
  font-family: "Manrope";
  font-weight: 700;
}
.home-team .item-team-desc {
  color: var(--primary-01, #0962FF);
  font-size: 16px;
  font-family: "Manrope";
  font-weight: 500;
  line-height: 120%;
}
.home-team .item-team img {
  border-radius: 20px;
  position: absolute;
}
.home-team .row {
  justify-content: center;
}
.home-team .row .home-team-item:nth-child(2) {
  margin-top: 15px;
}
.home-team .row .home-team-item:nth-child(3) {
  margin-top: 30px;
}

.txt-purple {
  color: #0765FF;
}

.dao-foster {
  padding: 80px 0px;
  background: var(--neutral-05, #141414);
}
.dao-foster .dao-title {
  font-size: 37px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.dao-foster .dao-desc {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  padding: 20px 0px;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.dao-foster .dao-btn {
  padding-top: 40px;
}
.dao-foster .dao-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.dao-foster .dao-btn a:hover {
  background: var(--primary-01, #0962FF);
  text-decoration: unset;
}
.dao-foster .dao-content {
  border: 1px solid var(--neutral-04, #6A6A6A);
  border-radius: 15px;
}
.dao-foster .dao-content .dao-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 25px;
}
.dao-foster .dao-content .dao-item-title {
  color: var(--primary-02, #86B2FF);
  /* H4 -1440 */
  font-size: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.dao-foster .dao-content .dao-item-desc {
  padding-top: 10px;
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.dao-foster .dao-content .dao-item:nth-child(1) {
  border-top: 0;
}
.dao-foster .dao-content .dao-item:nth-child(n) {
  border-top: 1px solid var(--neutral-04, #6A6A6A);
}

.unlock {
  background: var(--neutral-05, #141414);
  padding: 80px 0px;
}
.unlock-title {
  color: #FFF;
  /* H2- 1440 */
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.unlock-btn {
  padding-top: 40px;
}
.unlock-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.unlock-btn a:hover {
  background: var(--primary-01, #0962FF);
  text-decoration: unset;
}
.unlock-img {
  padding-top: 200px;
}
.unlock-item {
  padding: 30px 0px;
  border-bottom: 0.5px solid var(--primary-01, #0962FF);
}
.unlock-item-number {
  border-radius: 100px;
  border: 1px solid var(--primary-01, #0962FF);
  background: rgba(9, 98, 255, 0.2);
  padding: 5px 14px;
  color: var(--neutral-01, #FFF);
  /* H4 -1440 */
  font-size: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.unlock-item-title {
  color: var(--primary-02, #86B2FF);
  /* H4 -1440 */
  font-size: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  padding: 5px 0px;
  line-height: 110%;
}
.unlock-item-desc {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  font-size: 18px;
  padding-top: 5px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.unlock-item:nth-child(1) {
  padding-bottom: 30px;
  padding-top: 0;
}

.leverage {
  background: var(--neutral-05, #141414);
  padding: 80px 0px;
}
.leverage-header {
  text-align: center;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
.leverage-header p {
  margin: 0;
}
.leverage-item {
  align-items: center;
  padding-bottom: 30px;
}
.leverage-item-img {
  display: flex;
  justify-content: center;
}
.leverage-item:nth-child(2n) {
  flex-direction: row-reverse;
}
.leverage-title {
  color: var(--primary-02, #86B2FF);
  /* H3 - 1440 */
  font-size: 32px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.leverage-desc {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  padding-top: 20px;
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.fusion-header {
  padding-top: 180px;
  padding-bottom: 50px;
  background-color: #000000;
}

.fusion-title {
  font-size: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

.fusion-desc {
  padding: 20px 0px;
  color: #9BA3B9;
  /* Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fusion-desc p {
  margin: 0;
}

.fusion-btn {
  padding-top: 20px;
}
.fusion-btn a {
  border-radius: 40px;
  border: 1px solid var(--primary-01, #0962FF);
  padding: 16px 28px;
  color: var(--neutral-01, #FFF);
  /* Button Text - 1440 */
  font-size: 18px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.fusion-btn a:hover {
  text-decoration: unset;
  background: #0962FF;
}

header .header-top {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 50px;
  background-color: #000000;
  width: 100%;
  justify-content: space-between;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  header .header-top {
    padding: 20px 30px;
  }
}
header .header-btn {
  padding: 16px 40px;
  background: #0765FF;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  color: #FFFFFF;
}
header .header-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  header .logo {
    width: 85%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header .logo {
    width: 85%;
  }
}
header .logo img {
  max-width: unset;
}
header .hide {
  display: none;
}
header .menu {
  display: flex;
  gap: 0 24px;
  align-items: center;
}
header .menu-item {
  padding: 0 14px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 0 2px;
  position: relative;
}
header .menu-item .menu-icon-header {
  display: flex;
  padding-left: 5px;
}
header .menu-item .menu-dropdown {
  position: absolute;
  bottom: -10px;
  border-radius: 20px;
  border: 1px solid var(--neutral-04, #6A6A6A);
  background: var(--neutral-05, #141414) !important;
  padding: 12px 24px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
header .menu-item .bg-dropdown1 {
  min-width: 293px;
  left: -70px;
}
header .menu-item .bg-dropdown2 {
  min-width: 210px;
  left: -35px;
}
header .menu-item .bg-dropdown3 {
  min-width: 245px;
  left: -45px;
}
header .menu-item .menu-button {
  padding: 16px 28px 16px 28px;
  border-radius: 40px;
  border: 2px solid #0962FF;
}
header .menu-item .menu-button:hover {
  background: #0962FF;
  color: var(--neutral-01, #FFF);
}
header .menu-item .dropdown-item {
  padding: 5px 0;
  white-space: unset;
  color: #919494 !important;
  /* H4 -1440 */
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}
header .menu-item .dropdown-item:hover {
  background-color: unset;
}
header .menu-item .dropdown-item a {
  color: #919494;
}
header .menu-item i {
  font-size: 15px;
}
header .menu-item span,
header .menu-item a {
  transition: 0.2s;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #FFFFFF;
}
header .menu-item span:hover,
header .menu-item a:hover {
  color: #0765FF;
  text-decoration: none;
}
header .menu-item:hover img {
  transition: all 0.4s ease-in-out;
  transform: rotate(180deg);
}
header .menu-active.actived {
  color: #007bff;
}
header .menu-item:hover > .menu-dropdown {
  opacity: 1;
  visibility: visible;
  background-color: #000000;
}
header .menu-item .menu-item-wrapper {
  display: flex;
}
header .header-cta {
  display: none;
  margin-left: auto;
  gap: 0 10px;
}
header .header-cta .hide {
  display: none;
}
header .header-cta button {
  padding: 2.5px 16.5px;
  border-radius: 4px;
  color: #92a0a9;
  font-size: 14px;
  border: 1px solid #92a0a9;
}
header .header-cta button.active {
  background-color: #0095d4;
  color: white;
}
header .download {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
header .download-other {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
@media screen and (max-width: 992px) {
  header {
    padding-inline: 20px;
    background-size: cover;
    background-position-x: 77%;
  }
  header .download-other {
    display: none;
  }
  header .download-item {
    flex-shrink: 0;
  }
  header .download-item:not(:nth-child(2)) {
    display: none;
  }
  header .header-top {
    margin-bottom: 80px;
  }
  header .header-bar {
    display: flex;
    margin-left: auto;
    gap: 0 20px;
    align-items: center;
  }
  header .link-home {
    color: #0095d4;
    font-weight: bold;
    text-transform: uppercase;
  }
  header .header-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    width: 100%;
    z-index: 999;
    display: block;
    padding: 20px;
    transform: translateX(100%);
    transition: all 0.2s;
  }
  header .header-fixed.show {
    transform: translateX(0);
  }
  header .menu {
    display: block;
    margin-bottom: 20px;
    text-align: right;
  }
  header .menu-item {
    padding-bottom: 10px;
    display: block;
  }
  header .menu-item i {
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }
  header .menu-item span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu-item:not(:first-child) {
    padding-top: 10px;
  }
  header .menu .menu-item.menu-home {
    display: flex;
    justify-content: space-between;
  }
  header .menu .menu-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .menu .menu-item-wrapper img.visible-s.active {
    transform: rotate(-90deg);
  }
  header .menu .menu-dropdown {
    position: static;
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    display: none;
  }
  header .menu .dropdown-item {
    text-align: left;
    padding-left: 20px;
  }
  header .header-cta {
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
    gap: 20px 0;
    justify-content: space-between;
  }
  header .header-cta-item:first-child {
    width: 100%;
  }
  header .header-cta-item:first-child form {
    width: 100%;
    display: flex;
  }
  header .header-cta-item:first-child form input {
    border: 1px solid #667080;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    flex-basis: 80%;
  }
  header .header-cta-item:first-child form button {
    border-radius: 0 4px 4px 0;
  }
  header .header-social {
    margin-top: 20px;
    display: flex;
    padding: 0 40px;
    justify-content: space-evenly;
  }
}

@keyframes showText {
  from {
    font-size: 0; /* Start font-size at 0 */
  }
  to {
    font-size: 16px; /* End font-size at 16 */
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-top .header-btn {
    flex-shrink: 0;
    order: 1;
    margin-right: 30px;
  }
  .header-top .header-bar {
    order: 2;
  }
}
footer {
  background: #090914;
}
footer .footer-top {
  padding: 40px 0px;
  border-bottom: 1px solid #4B4B4B;
}
footer .footer-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  footer .footer-top img {
    padding-left: 20px;
  }
  footer .footer-top .container {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  footer .footer-top img {
    padding-left: 20px;
  }
}
footer .footer-img {
  position: relative;
}
footer .footer-left {
  position: absolute;
  max-width: 475px;
  padding-left: 44px;
  padding-bottom: 14%;
}
footer .footer-left-title {
  color: var(--neutral-05, #141414);
  /* H2- 1440 */
  font-size: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
footer .footer-left-desc {
  color: var(--neutral-01, #FFF);
  /* Text - 1440 */
  font-size: 18px;
  font-family: "Manrope";
  font-style: normal;
  padding: 20px 0px;
  font-weight: 400;
  line-height: 120%;
}
footer .footer-left-download {
  display: flex;
  gap: 20px;
}
footer .footer-right {
  display: flex;
  gap: 44px;
}
footer .footer-right-header {
  color: var(--neutral-01, #FFF);
  /* H4 -1440 */
  font-size: 24px;
  font-family: "Manrope";
  font-style: normal;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 110%;
}
footer .footer-right-actived {
  color: var(--primary-01, #0962FF) !important;
}
footer .footer-right ul, footer .footer-right li {
  color: var(--neutral-02, #9BA3B9);
  /* Text - 1440 */
  font-size: 18px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 10px;
}
footer .footer-copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-align: center;
  /* Neutral/06 */
  color: rgba(246, 250, 253, 0.6);
}
@media screen and (max-width: 767px) {
  footer .footer-copyright {
    font-size: 14px;
    padding-left: 30px;
    text-align: left;
  }
}
footer .footer-social {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
footer .footer-bottom {
  padding: 18px 0;
  background-color: #090914;
}
footer .footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom p {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  footer .footer-bottom {
    background-color: unset;
  }
  footer .footer-bottom .container {
    flex-direction: column-reverse;
    align-items: unset;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.txtBlue {
  color: #0962FF;
}

.txtWhite {
  color: #FFFFFF;
}

.slick-dotted {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  display: flex !important;
  gap: 0 10px;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  width: 35px;
  height: 3px;
  background-color: #99d5ee;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background-color: #33aadd;
}
.slick-dots button {
  font-size: 0;
}

.back-to-top {
  background-color: var(--primary-01, #0962FF);
  position: fixed;
  bottom: 60px;
  padding: 8px;
  right: 25px;
  z-index: 100;
  opacity: 0;
  transition: all 0.25s;
}

.back-to-top.show {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .back-to-top {
    bottom: 80px;
    right: 5px;
  }
  .visible-s {
    display: block;
  }
  .visible-md {
    display: none;
  }
  .visible-lg {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .visible-s {
    display: none !important;
  }
  .visible-lg {
    display: block;
  }
  .visible-md {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .visible-md {
    display: none !important;
  }
  .visible-s {
    display: block !important;
  }
  .logo-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .visible-cpn1 {
    display: block;
  }
  .visible-cpn2 {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .visible-cpn1 {
    display: none;
  }
}
h3 {
  font-weight: bold;
}

@keyframes grow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 16px;
  }
}
.grows {
  animation-name: grow;
  animation-duration: 10s;
}

.growsandstays {
  animation-name: grow;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=app.css.map */
