html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
button {
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}

@media screen and (min-width: 575px) {
  .visible-s {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .visible-md {
    display: none;
  }
}

.header-solution .menu a {
  color: rgba(75, 75, 75, 0.5);
}

.banner {
  position: relative;
}
.banner-sidebar {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.banner-item {
  display: flex;
  padding: 186px 164px 127px;
  align-items: center;
}
.banner-item:not(.active) {
  display: none;
}
.banner-item.active {
  animation: opacity 2.5s linear forwards;
}
.banner-item.active .banner-text {
  top: 50%;
}
.banner-item:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: left;
  background: linear-gradient(241.94deg, rgba(202, 209, 219, 0.5) 14.08%, rgba(5, 88, 224, 0.5) 100.57%), #FFFFFF;
}
.banner-item:nth-child(odd) {
  background: linear-gradient(241.94deg, rgba(7, 101, 255, 0.1) 14.08%, rgba(7, 101, 255, 0) 100.57%), #FFFFFF;
}
.banner-thumb {
  position: absolute;
  bottom: 0;
  left: 93px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  overflow: hidden;
}
.banner-text {
  max-width: 428px;
  transition: all 1s;
}
.banner-text-top {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  padding-bottom: 5px;
  border-bottom: 1px solid #1E232B;
  /* Neutral/04 */
  color: #1E232B;
}
.banner-text-mid {
  margin: 22px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
}
.banner-text-mid-blue {
  color: #0765FF;
}
.banner-text-bot {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  /* Neutral/03 */
  color: #4B4B4B;
}
.banner-img img {
  width: 100%;
}

.tab-list {
  max-height: 442px;
  width: 93px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tab-list::-webkit-scrollbar {
  display: none;
}
.tab-item {
  transform: rotate(-90deg) translateX(-30px);
  margin-bottom: 80px;
  padding: 0 8px;
  transition: all 0.5s;
  cursor: pointer;
}
.tab-item.active {
  color: rgb(7, 101, 255);
  position: relative;
  border-bottom: 2px solid rgb(7, 101, 255);
}

.thumb-content {
  padding-left: 10px;
}
.thumb-list {
  display: flex;
  overflow-x: auto;
  transition: all 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.thumb-list::-webkit-scrollbar {
  display: none;
}
.thumb-list.scrolling {
  transform: translateX(-93px);
}
.thumb-item {
  min-width: 252px;
  flex-shrink: 0;
  height: 206px;
  cursor: pointer;
  border: 1px solid transparent;
  background: rgba(7, 101, 255, 0.1);
}
.thumb-item:nth-child(odd) {
  background: rgba(7, 101, 255, 0);
}
.thumb-item.active {
  border: 1px solid rgb(7, 101, 255);
}
.thumb-item.active .thumb-wrap {
  padding-left: 168px;
}
.thumb-item.active .thumb-img {
  left: 12px;
}
.thumb-wrap {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}
.thumb-img {
  flex-shrink: 0;
  position: absolute;
  left: -100%;
  transition: all 1s;
}
.thumb-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
.thumb-title-blue {
  color: #0765FF;
}
.thumb-text {
  max-width: 227px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  padding: 12px 0px;
}
.thumb-readmore {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  /* identical to box height, or 12px */
  margin-top: 12px;
  /* Primary */
  color: #0765FF;
}

@media screen and (max-width: 1280px) {
  .banner-item {
    padding-left: 150px;
    padding-right: 77px;
    padding-bottom: 145px;
  }
  .banner-img {
    flex-shrink: 0;
    width: 554px;
    height: 490px;
  }
  .banner-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 860px) {
  .banner-text {
    font-size: 30px;
  }
  .banner-item {
    padding-left: 164px;
    padding-right: 44px;
    padding-bottom: 254px;
  }
  .banner-img {
    width: 346px;
    height: 306px;
  }
}
@media screen and (max-width: 640px) {
  .banner-thumb {
    display: none;
  }
  .banner-sidebar {
    display: none;
  }
  .banner-text {
    font-size: 30px;
  }
  .banner-item {
    padding-left: 164px;
    padding-right: 90px;
    padding-bottom: 145px;
    flex-direction: column;
  }
  .banner-item:nth-child(even) {
    flex-direction: column;
  }
  .banner-img {
    width: 346px;
    height: 306px;
  }
}
@media screen and (max-width: 575px) {
  .banner-item {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 78px;
    display: block !important;
    flex-shrink: 0;
  }
  .banner-img {
    width: 100%;
    height: 232px;
  }
}
@media screen and (min-width: 420px) {
  .banner .slick-dots {
    display: block !important;
    left: 20px;
    transform: translate(0);
    bottom: 0;
    overflow-y: auto;
    max-width: 93px;
    height: 100%;
    max-height: 652px;
  }
  .banner .slick-dots li {
    width: fit-content;
    padding: 8px;
    background: transparent;
    transform: rotate(-90deg) translateX(-30px);
    display: block;
    margin-bottom: 63px;
  }
  .banner .slick-dots li.slick-active {
    background-color: transparent;
  }
  .banner .slick-dots li.slick-active button {
    color: black;
  }
  .banner .slick-dots li button {
    font-size: 14px;
    font-weight: 500;
    color: rgba(75, 75, 75, 0.5);
    width: auto;
    height: auto;
    background: transparent;
  }
  .banner .slick-dots li button::before {
    display: none;
  }
}
@media screen and (max-width: 419px) {
  .banner .slick-dots {
    display: flex;
    gap: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
  }
  .banner .slick-dots li {
    margin: 0;
    width: 18px;
    height: 2px;
    background: #C8C8C8;
  }
  .banner .slick-dots li.slick-active {
    background: rgb(7, 101, 255);
  }
  .banner .slick-dots li button::before {
    display: none;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transformText {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.home-about {
  margin-top: 160px;
}
.home-about-img {
  width: 100%;
}
.home-about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #1E232B;
  text-align: center;
  padding: 0px 140px;
}
@media screen and (max-width: 767px) {
  .home-about-title {
    font-size: 40px;
    padding: 0px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-about-title {
    font-size: 46px;
    padding: 0px 200px;
  }
}
.home-about-content {
  /* Text 24 */
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  padding: 20px 200px;
  /* Neutral/03 */
  color: #4B4B4B;
}
@media screen and (max-width: 767px) {
  .home-about-content {
    font-size: 15px;
    padding: 14px 23px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-about-content {
    font-size: 19px;
    padding: 14px 200px;
  }
}
.home-about-download {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .home-about-download {
    gap: 20px;
  }
  .home-about-download img {
    width: 70%;
  }
  .home-about-download a:nth-child(1) {
    display: flex;
    justify-content: end;
  }
}

.txt-purple {
  color: #0765FF;
}

.company {
  padding: 70px 150px;
}
.company-main {
  display: flex;
  justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 1200px) {
  .company-main {
    display: block;
  }
}
.company-content {
  max-width: 555px;
}
@media screen and (max-width: 1200px) {
  .company-content {
    max-width: unset;
  }
}
.company-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  /* or 67px */
  padding-top: 50px;
  /* Neutral/04 */
  color: #1E232B;
}
.company-header p {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 767px) {
  .company-header {
    font-size: 33px;
    padding-top: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .company-header {
    font-size: 38px;
    padding-top: 0px;
    text-align: center;
  }
}
.company-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 33px */
  display: flex;
  align-items: center;
  /* Neutral/04 */
  color: #1E232B;
  padding: 30px 0px 12px 0px;
}
@media screen and (max-width: 767px) {
  .company-title {
    font-size: 24px;
    padding-top: 0px;
    margin-top: 28px;
  }
}
.company-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  /* Neutral/03 */
  color: #4B4B4B;
}
@media screen and (max-width: 767px) {
  .company-desc {
    font-size: 18px;
    line-height: 120%;
  }
}
.company-btn {
  padding: 20px 24px;
  background: #0765FF;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  margin-top: 30px;
  /* Neutral/01 */
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .company-btn {
    font-size: 16px;
    padding: 14px 24px;
  }
}
@media screen and (max-width: 767px) {
  .company {
    padding: 70px 60px;
  }
}

.story {
  padding: 80px;
  background-color: #F6FAFD;
}
@media screen and (max-width: 767px) {
  .story {
    padding: 40px;
  }
}

.story-top {
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  max-width: 960px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .story-top {
    font-size: 25px;
  }
}

.story-top strong {
  color: #0765FF;
}

.story-list {
  border: 1px solid #0765FF;
  border-radius: 20px 0 0 20px;
  margin-right: -120px;
}

.story-heading {
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 22px;
}
@media screen and (max-width: 767px) {
  .story-heading {
    font-size: 50px;
  }
}

.story-heading strong:nth-child(2) {
  color: #0765FF;
}

.story-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 22px;
}

.story-desc {
  color: #4B4B4B;
  font-size: 18px;
  line-height: 120%;
}

.story-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: -90px;
  cursor: pointer;
  right: 150px;
  border-radius: 50%;
  font-size: 0;
  border: 1px solid black;
  width: 44px;
  height: 44px;
  background: white;
}
@media screen and (max-width: 767px) {
  .slick-arrow {
    top: -73px;
    right: 95px;
    width: 35px;
    height: 35px;
  }
}

.slick-arrow.slick-disabled {
  opacity: 0.5;
}

.slick-arrow::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-arrow.slick-prev {
  right: 206px;
}
@media screen and (max-width: 767px) {
  .slick-arrow.slick-prev {
    right: 140px;
  }
}

.slick-arrow.slick-prev::after {
  background: url("/images/PC_index/btn-prev-roadmap.svg") no-repeat center center;
}

.slick-arrow.slick-next {
  background: #0765FF;
  border-color: #0765FF;
}

.slick-arrow.slick-next::after {
  background: url("/images/PC_index/btn-next-roadmap.svg") no-repeat center center;
}

.story-item {
  border-radius: 20px 0 0 20px;
  padding: 52px;
  background: url("/images/PC_index/bg-item-roadmap.png") no-repeat center/cover;
  min-height: 315px;
}
@media screen and (max-width: 767px) {
  .story-item {
    padding: 20px;
    max-width: 370px;
  }
}

.investing {
  background-color: #F6FAFD;
  padding: 60px 150px;
}
@media screen and (max-width: 767px) {
  .investing {
    padding: 30px;
  }
}
.investing-main {
  background: url("/images/PC_index/bg-investing.png") no-repeat center/cover;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .investing-main {
    background: url("/images/PC_index/img-investing-mb.png") no-repeat center/cover;
  }
}
.investing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  /* or 67px */
  text-align: center;
  padding: 30px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .investing-title {
    font-size: 26px;
    padding: 30px 40px 10px 40px;
  }
}
.investing-download {
  padding-bottom: 260px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .investing-download {
    gap: 20px;
    padding-bottom: 90px;
  }
  .investing-download img {
    width: 80%;
  }
  .investing-download a:nth-child(1) {
    display: flex;
    justify-content: end;
  }
}

.teamMMC {
  padding: 60px 0px;
  background-color: #FFFFFF;
}
.teamMMC-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  /* or 67px */
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .teamMMC-header {
    font-size: 45px;
  }
}
.teamMMC-content {
  padding: 0px 20px;
}
.teamMMC-list {
  max-width: 960px;
  margin: 0 auto;
}
.teamMMC-item ul, .teamMMC-item li {
  list-style: disc !important;
}
.teamMMC-item li::marker {
  color: #0765FF;
}
.teamMMC-top {
  position: relative;
}
.teamMMC-text {
  width: 100%;
  border-radius: 0 0 40px 40px;
  bottom: 0;
  text-align: center;
  position: absolute;
  background: linear-gradient(180deg, rgba(246, 250, 253, 0) 0.05%, #0066FF 100%);
}
.teamMMC-text-head {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */
  margin-bottom: 2px;
  color: #FFFFFF;
}
.teamMMC-text-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  margin-bottom: 20px;
  color: #FFFFFF;
}
.teamMMC-img {
  border-radius: 40px;
  border: 1px solid #0765FF;
}
.teamMMC-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  color: #4B4B4B;
}
.teamMMC-detail-line1 {
  padding-top: 28px;
  min-height: 93px;
}
.teamMMC-detail-line2 {
  min-height: 101px;
  padding-top: 15px;
}
.teamMMC-detail-line3 {
  min-height: 96px;
  padding-top: 10px;
}
.teamMMC-detail-line4 {
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .teamMMC-list {
    padding-inline: 20px;
  }
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -1.5%;
  bottom: 79%;
  color: #ffffff;
  background-color: #0765FF;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 1%;
  }
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: -1.5%;
  bottom: 79%;
  color: #ffffff;
  background-color: #0765FF;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: 1%;
  }
}

header .header-top {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 150px;
  background-color: #000000;
  width: 100%;
  justify-content: space-evenly;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  header .header-top {
    padding: 20px 30px;
  }
}
header .header-solution {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 99;
}
header .header-btn {
  padding: 16px 40px;
  background: #0765FF;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  color: #FFFFFF;
}
header .header-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bg-menu {
  background-color: #ffffff;
}
header .logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  header .logo {
    width: 85%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header .logo {
    width: 85%;
  }
}
header .hide {
  display: none;
}
header .menu {
  display: flex;
  gap: 0 24px;
}
header .menu-item {
  padding: 0 14px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 0 2px;
  position: relative;
}
header .menu-item .menu-icon-header {
  display: flex;
  padding-left: 5px;
}
header .menu-item .menu-dropdown {
  position: absolute;
  bottom: -10px;
  left: -7px;
  width: 100%;
  max-width: 100%;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
header .menu-item .dropdown-item {
  padding: 10px 0;
  border-top: 1px solid #c4c4c4;
  text-align: center;
  white-space: unset;
}
header .menu-item .dropdown-item:hover {
  background-color: unset;
}
header .menu-item i {
  font-size: 15px;
}
header .menu-item span,
header .menu-item a {
  transition: 0.2s;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #FFFFFF;
}
header .menu-item span:hover,
header .menu-item a:hover {
  color: #0765FF;
  text-decoration: none;
}
header .menu-active.actived {
  color: #0765FF;
}
header .menu-item:hover > .menu-dropdown {
  opacity: 1;
  visibility: visible;
}
header .menu-item .menu-item-wrapper {
  display: flex;
}
header .header-cta {
  display: none;
  margin-left: auto;
  gap: 0 10px;
}
header .header-cta .hide {
  display: none;
}
header .header-cta button {
  padding: 2.5px 16.5px;
  border-radius: 4px;
  color: #92a0a9;
  font-size: 14px;
  border: 1px solid #92a0a9;
}
header .header-cta button.active {
  background-color: #0095d4;
  color: white;
}
header .download {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
header .download-other {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
@media screen and (max-width: 992px) {
  header {
    padding-inline: 20px;
    background-size: cover;
    background-position-x: 77%;
  }
  header .download-other {
    display: none;
  }
  header .download-item {
    flex-shrink: 0;
  }
  header .download-item:not(:nth-child(2)) {
    display: none;
  }
  header .header-top {
    margin-bottom: 80px;
  }
  header .header-bar {
    display: flex;
    margin-left: auto;
    gap: 0 20px;
    align-items: center;
  }
  header .link-home {
    color: #0095d4;
    font-weight: bold;
    text-transform: uppercase;
  }
  header .header-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    width: 100%;
    z-index: 999;
    display: block;
    padding: 20px;
    transform: translateX(100%);
    transition: all 0.2s;
  }
  header .header-fixed.show {
    transform: translateX(0);
  }
  header .menu {
    display: block;
    margin-bottom: 20px;
  }
  header .menu-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
    display: block;
  }
  header .menu-item i {
    font-size: 20px;
    color: #0095d4;
  }
  header .menu-item span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .menu-item:not(:first-child) {
    padding-top: 10px;
  }
  header .menu .menu-item.menu-home {
    display: flex;
    justify-content: space-between;
  }
  header .menu .menu-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .menu .menu-item-wrapper img.visible-s.active {
    transform: rotate(-90deg);
  }
  header .menu .menu-dropdown {
    position: static;
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    display: none;
  }
  header .menu .dropdown-item {
    text-align: left;
    padding-left: 20px;
  }
  header .header-cta {
    flex-wrap: wrap;
    max-width: 250px;
    margin: 0 auto;
    gap: 20px 0;
    justify-content: space-between;
  }
  header .header-cta-item:first-child {
    width: 100%;
  }
  header .header-cta-item:first-child form {
    width: 100%;
    display: flex;
  }
  header .header-cta-item:first-child form input {
    border: 1px solid #667080;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    flex-basis: 80%;
  }
  header .header-cta-item:first-child form button {
    border-radius: 0 4px 4px 0;
  }
  header .header-social {
    margin-top: 20px;
    display: flex;
    padding: 0 40px;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-top .header-btn {
    flex-shrink: 0;
    order: 1;
    margin-right: 30px;
  }
  .header-top .header-bar {
    order: 2;
  }
}
.why {
  background-color: #F6FAFD;
  padding-top: 80px;
  padding-bottom: 100px;
}
.why-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  /* or 67px */
  text-align: center;
  /* Neutral/04 */
  padding-bottom: 52px;
  color: #1E232B;
}
@media screen and (max-width: 767px) {
  .why-title {
    font-size: 30px;
    line-height: 110%;
    padding-bottom: 0px;
  }
}
.why-title-top {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 0 auto;
}
.why-title-body {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
  color: #667080;
}
.why-title-end {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #667080;
  padding-top: 15px;
}
.why-content {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  /* or 33px */
  padding: 12px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Neutral/04 */
  color: #1E232B;
}
@media screen and (max-width: 767px) {
  .why-content {
    font-size: 24px;
  }
}
.why-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  text-align: center;
  /* Neutral/03 */
  color: #4B4B4B;
}
@media screen and (max-width: 767px) {
  .why-desc {
    font-size: 15px;
  }
}
.why-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px 64px;
}
.why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(33.33% - 42.67px);
}
@media screen and (max-width: 767px) {
  .why-item {
    padding-top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .why-item {
    width: calc(33.33% - 40.67px);
  }
}
.why-img {
  height: 64px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  margin-top: 5px;
}
.why-trust {
  background-color: #f3faff;
  padding-top: 32px;
  padding-bottom: 75px;
}
.why-trust-content {
  text-align: center;
}
.why-trust-content a:hover {
  background-color: #05a8ec;
  text-decoration: none;
  color: white;
}
.why-trust-title {
  font-size: 24px;
  margin-bottom: 7px;
}
.why-trust-desc {
  font-size: 14px;
  color: #667080;
  padding-bottom: 35px;
}
.why-trust-link-item {
  border: 3px solid #05a8ec;
  color: #05a8ec;
  padding: 17px 28px 17px 28px;
  border-radius: 55px;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .why {
    padding: 30px 20px;
  }
  .why-list {
    flex-direction: column;
    gap: 20px 0;
  }
  .why-item {
    width: 100%;
  }
}

.contact {
  background-color: #FFFFFF;
  margin: 100px 0px;
}
.contact-header {
  padding: 90px 0px 10px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  /* Primary */
  color: #0765FF;
}
@media screen and (max-width: 992px) {
  .contact-header {
    padding: 60px 0px 10px 40px;
  }
}
@media screen and (max-width: 992px) {
  .contact-logo {
    display: none;
  }
}
.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #4B4B4B;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-title {
    padding: 0px 0px 20px 40px;
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  .contact-title {
    padding: 0px 0px 20px 40px;
    font-size: 40px;
  }
}
.contact-interested {
  padding-top: 15px;
}
.contact-interested button {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  /* identical to box height, or 16px */
  border-radius: 6px;
  /* Neutral/02 */
  margin-right: 5px;
  padding: 5px 7px;
  background-color: transparent;
  border: 1px solid #757575;
  color: #F6FAFD;
}
@media screen and (max-width: 768px) {
  .contact-interested button {
    color: #4B4B4B;
    font-size: 9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-interested button {
    color: #4B4B4B;
  }
}
.contact-card {
  border: 1px solid #0765FF;
  border-radius: 16px;
  margin-top: 60px;
  padding: 0px 60px;
  background: url("/images/PC_contact/bg-contact.png") no-repeat center/cover;
}
@media screen and (max-width: 992px) {
  .contact-card {
    background: unset;
  }
}
@media screen and (max-width: 768px) {
  .contact-card {
    margin: 0px 40px;
    padding: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-card {
    margin: 0px 35px;
    padding: 0px;
  }
}
.contact-left {
  padding: 90px 38px 51px 0px;
}
.contact-left-title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 72px */
  padding-top: 15px;
  /* Neutral/03 */
  color: #4B4B4B;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-left-title {
    font-size: 40px;
    padding-left: 45px;
  }
}
@media screen and (max-width: 768px) {
  .contact-left {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-left {
    padding: 50px 0px 51px 0px;
  }
}
.contact-social {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 15px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-social {
    padding-left: 45px;
  }
}
.contact-right {
  padding: 30px 0px;
}
.contact-right form {
  display: block;
  width: 100%;
}
.contact-right form input {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  color: #3A85FF;
  font-size: 14px;
  border-bottom: 1px solid #757575;
  background-color: transparent;
}
.contact-right form input[type=text]:focus {
  border-bottom: 1px solid #355091;
}
@media screen and (max-width: 992px) {
  .contact-btnSend1 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .contact-btnSend2 {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .contact-btnSend2 {
    display: none;
  }
}
.contact-imgLeft {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-imgLeft {
    display: block !important;
    width: 100%;
  }
}
.contact-form {
  background-color: #1E232B;
  border-radius: 8px;
  padding: 30px 40px;
}
.contact-form-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  /* Neutral/06 */
  color: rgba(246, 250, 253, 0.6);
}
@media screen and (max-width: 992px) {
  .contact-form-header {
    color: #4B4B4B;
  }
}
@media screen and (max-width: 768px) {
  .contact-form-header {
    display: none;
  }
}
.contact-form-header1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* or 18px */
  display: none;
  /* Neutral/06 */
  color: #4B4B4B;
}
@media screen and (max-width: 768px) {
  .contact-form-header1 {
    display: block !important;
  }
}
.contact-form-send {
  display: flex;
  background-color: transparent;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  gap: 10px;
  border: 1px solid #F6FAFD;
  border-radius: 4px;
  padding: 12px 25px;
  /* Neutral/02 */
  margin-top: 15px;
  color: #F6FAFD;
}
@media screen and (max-width: 992px) {
  .contact-form-send {
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
  }
}
.contact-form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  padding-top: 20px;
  /* Neutral/02 */
  color: #F6FAFD;
}
@media screen and (max-width: 992px) {
  .contact-form-title {
    color: #4B4B4B;
  }
}
@media screen and (max-width: 768px) {
  .contact-form {
    background: #FFFFFF;
    padding: 0px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact-form {
    background: #FFFFFF;
    padding: 0px 80px;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.select {
  position: relative;
  display: -webkit-inline-box;
}
.select input:checked + label {
  background-color: #61656a;
}
.select input:checked + label:hover, .select input:checked + label:focus, .select input:checked + label:active {
  background-color: #61656a;
}
@media screen and (max-width: 992px) {
  .select input:checked + label {
    color: #0765FF;
    background-color: rgb(183, 207, 252);
    border: 1px solid #0765FF;
  }
}
.select input {
  opacity: 0;
  position: absolute;
}
.select .button_select {
  margin: 0 10px 10px 0;
  color: #F6FAFD;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
.select .button_select:hover, .select .button_select:focus, .select .button_select:active {
  background-color: #61656a;
}
@media screen and (max-width: 992px) {
  .select .button_select:hover, .select .button_select:focus, .select .button_select:active {
    color: #0765FF;
    background-color: rgb(183, 207, 252);
    border: 1px solid #0765FF;
  }
}
@media screen and (max-width: 768px) {
  .select .button_select {
    color: #4B4B4B;
    font-size: 9px;
    border: 1px solid #4B4B4B;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .select .button_select {
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
  }
}

.option {
  position: relative;
}
.option input {
  opacity: 0;
  position: absolute;
}
.option input:checked + span {
  background-color: #61656a;
}
.option input:checked + span:hover, .option input:checked + span:focus, .option input:checked + span:active {
  background-color: #61656a;
}
@media screen and (max-width: 992px) {
  .option input:checked + span:hover, .option input:checked + span:focus, .option input:checked + span:active {
    color: #0765FF;
    background-color: rgb(183, 207, 252);
    border: 1px solid #0765FF;
  }
}
@media screen and (max-width: 992px) {
  .option input:checked + span {
    color: #0765FF;
    background-color: rgb(183, 207, 252);
    border: 1px solid #0765FF;
  }
}
.option .btn-option {
  margin: 0 10px 10px 0;
  display: flex;
  background-color: transparent;
}
.option .btn-option:hover, .option .btn-option:focus, .option .btn-option:active {
  background-color: transparent;
}

footer {
  background: #090914;
}
footer .footer-top {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #4B4B4B;
}
footer .footer-top .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  footer .footer-top img {
    padding-left: 20px;
  }
  footer .footer-top .container {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  footer .footer-top img {
    padding-left: 20px;
  }
}
footer .footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  padding-top: 30px;
  /* Neutral/06 */
  color: rgba(246, 250, 253, 0.6);
}
@media screen and (max-width: 575px) {
  footer .footer-text {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-text {
    display: block;
    padding-left: 20px;
  }
}
footer .footer-copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-align: center;
  /* Neutral/06 */
  color: rgba(246, 250, 253, 0.6);
}
@media screen and (max-width: 767px) {
  footer .footer-copyright {
    font-size: 14px;
    padding-left: 30px;
    text-align: left;
  }
}
footer .footer-follow {
  margin-right: 110px;
}
footer .footer-logo {
  padding: 6px;
  width: 60%;
}
footer .footer-social {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
footer .footer-download {
  display: flex;
  gap: 0 4px;
}
footer .footer-input-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 149% */
  letter-spacing: 1.32216px;
  text-transform: uppercase;
  /* Neutral/06 */
  color: rgba(246, 250, 253, 0.6);
}
footer .footer-input form {
  display: flex;
}
footer .footer-input form input {
  background: #FFFFFF;
  padding: 8px 10px;
  border: 1px solid white;
  border-radius: 4px 0 0 4px;
}
footer .footer-input form input::placeholder {
  color: #4B4B4B;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
footer .footer-input form button {
  background-color: #0765FF;
  border: 1px solid #0765FF;
  border-left: transparent;
  padding-inline: 7px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  border-radius: 0 4px 4px 0;
}
@media screen and (max-width: 575px) {
  footer .footer-input {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-input {
    display: block;
    padding-left: 20px;
    padding-top: 15px;
  }
}
footer .footer-bottom {
  padding: 18px 0;
  background-color: #090914;
}
footer .footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom p {
  margin-bottom: 0;
}
footer .footer-link {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 30px;
}
footer .footer-link a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  text-decoration: none;
  /* Neutral/02 */
  color: #F6FAFD;
}
@media screen and (max-width: 575px) {
  footer .footer-link a {
    font-size: 15px;
  }
}
footer .footer-link a:hover, footer .footer-link a:active {
  color: #0765FF;
}
footer .footer-link .active {
  color: #0765FF;
}
@media screen and (max-width: 575px) {
  footer .footer-link {
    gap: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-link {
    gap: 90px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1127px) {
  footer .footer-contact {
    margin-right: 0px;
    font-size: 12px;
  }
  footer .footer-follow {
    margin-right: 0px;
  }
  footer .footer-logo {
    padding: 6px;
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-download,
footer .footer-phone,
footer .footer-mail {
    display: none;
  }
  footer .footer-link {
    text-align: center;
  }
  footer .footer-logo {
    padding: 6px;
    width: 30%;
  }
  footer .footer-top {
    padding: 25px 0;
  }
  footer .footer-contact {
    margin-right: 0;
    width: 100%;
  }
  footer .footer-contact img {
    margin: 0 auto;
  }
  footer .footer-follow {
    margin-right: 0;
  }
  footer .footer-social {
    justify-content: flex-start;
    padding-left: 30px;
  }
  footer .footer-social li {
    flex-shrink: 0;
  }
  footer .footer-bottom {
    background-color: unset;
  }
  footer .footer-bottom .container {
    flex-direction: column-reverse;
    align-items: unset;
  }
  footer .footer-bottom .footer-link {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px 40px;
    padding: 0 27px;
  }
}

.news {
  background: linear-gradient(180deg, #f3faff 0%, rgba(243, 250, 255, 0) 100%);
}
.news-title {
  font-size: 30px;
  padding: 30px 20px;
}
.news-content {
  margin-bottom: 30px;
}
.news-content-item-1 {
  color: #667080;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.news-content-item-2 {
  padding: 7px 0px;
  border-bottom: 1px solid #d9d9d9;
  font-style: normal;
  color: #667080;
  font-size: 12px;
}
.news-content-item-2 p {
  padding: 0 14px;
  margin-bottom: 0;
}
.news-img {
  margin-bottom: 30px;
}
.news-img img {
  margin: 0 auto;
}
.news-desc {
  padding-left: 26px;
}
.news-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}
.news-contact-link {
  margin-top: 0;
  display: flex;
  gap: 0 10px;
}
.news-end {
  padding: 29px 0;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .news-contact {
    flex-direction: column;
  }
  .news-desc {
    padding: 0px 26px;
  }
  .news-contact-link {
    margin-top: 5px;
  }
  .news-img img {
    padding: 0 4%;
  }
}

.suggest-list {
  display: flex;
  gap: 0 6px;
  padding: 2px 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 4px 5px;
}

.suggest-item {
  padding: 4px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.suggest-item a {
  font-size: 12px;
}

.daily {
  background: linear-gradient(180deg, #f3faff 0%, rgba(243, 250, 255, 0) 100%);
  padding: 30px 0;
  margin-bottom: 22px;
  margin-top: 47px;
}
.daily-content {
  max-width: 326px;
  margin-inline: auto;
}
.daily-title {
  text-align: center;
}
.daily-desc {
  text-align: center;
}
.daily form {
  display: block;
  width: 100%;
}
.daily form input {
  display: block;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 28px;
}
.daily form button {
  display: block;
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: #29b9f2;
  padding-block: 13px;
}

.icon-round {
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  color: #667080;
}

@media screen and (max-width: 767px) {
  header.detail-page {
    background: unset;
    padding-bottom: 20px;
  }
  header.detail-page .header-top {
    margin-bottom: 0;
  }
  header.detail-page .header-content {
    display: none;
  }
}
.detail-page-main {
  background: linear-gradient(180deg, #f3faff 0%, rgba(243, 250, 255, 0) 100%);
}
@media screen and (max-width: 767px) {
  .detail-page-main {
    padding: 0 20px !important;
  }
}

.menu-blog {
  color: #FFFFFF !important;
}

.menu-blog-active {
  color: #0765FF !important;
}

.blog {
  padding: 8% 0%;
}
.blog-item {
  display: flex !important;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.blog-content {
  display: flex;
  position: absolute;
  gap: 36px;
  width: 60%;
  align-items: center;
  top: 45%;
}
.blog-content-wrap {
  width: 100%;
}
.blog-image {
  width: 75%;
}
.blog-image img {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #ffffff;
}
.blog-header {
  display: flex;
  justify-content: space-between;
}
.blog-header-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
}
.blog-header-date {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.blog-mid {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  padding: 13px 0px;
  color: #FFFFFF;
}
.blog-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  color: rgba(246, 250, 253, 0.6);
}

.blog::before {
  filter: blur("10px");
}

.slider-for {
  z-index: 99;
}

.img-abso1 {
  width: 75%;
  position: absolute;
  border-radius: 40px;
  left: 14%;
  z-index: 2;
  top: 19%;
}

.img-abso2 {
  width: 75%;
  position: absolute;
  border-radius: 40px;
  left: 15%;
  top: 22%;
  z-index: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slick-dotted {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  display: flex !important;
  gap: 0 10px;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  width: 35px;
  height: 3px;
  background-color: #99d5ee;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background-color: #33aadd;
}
.slick-dots button {
  font-size: 0;
}

.back-to-top {
  background-color: #29b9f2;
  position: fixed;
  bottom: 60px;
  padding: 8px;
  right: 25px;
  z-index: 100;
  opacity: 0;
  transition: all 0.25s;
}

.back-to-top.show {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .back-to-top {
    bottom: 80px;
    right: 5px;
  }
  .visible-s {
    display: block;
  }
  .visible-md {
    display: none;
  }
  .visible-lg {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .visible-s {
    display: none !important;
  }
  .visible-lg {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .visible-md {
    display: block !important;
  }
  .visible-s {
    display: block !important;
  }
  .logo-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .visible-cpn1 {
    display: block;
  }
  .visible-cpn2 {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .visible-cpn1 {
    display: none;
  }
}
h3 {
  font-weight: bold;
}

/*# sourceMappingURL=app.css.map */
