.menu-blog{
  color: #FFFFFF !important;
}

.menu-blog-active{
  color: #0765FF !important;
}

.blog{
   padding: 8% 0%;

  &-item{
    display: flex !important;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  &-content{
    display: flex;
    position: absolute;
    gap: 36px;
    width: 60%;
    align-items: center;
    top: 45%;
    &-wrap{
      width: 100%;
    }
  }
  &-image{
    width: 75%;
    
    img{
      width: 100%;
      border-radius: 40px;
      border: 1px solid #ffffff;
    }
  }
  &-header{
    display: flex;
    justify-content: space-between;
    &-text{
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      color: #FFFFFF;
    }
    &-date{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: #FFFFFF;
    }
  }
  &-mid{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    padding: 13px 0px;
    color: #FFFFFF;
  }
  &-bottom{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: rgba(246, 250, 253, 0.6);
  }
}

.blog::before{
 filter: blur("10px");
}

.slider-for{
  z-index: 99;
}

.img-abso1{
  width: 75%;
  position: absolute;
  border-radius: 40px;
  left: 14%;
  z-index: 2;
  top: 19%;
}



.img-abso2{
  width: 75%;
  position: absolute;
  border-radius: 40px;
  left: 15%;
  top: 22%;
  z-index: 1;
}

