.customers {
  background-color: #f3faff;
  &-title-top {
    text-align: center;
    padding-top: 32px;
    font-weight: 400;
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
  }
  &-title-body {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    padding-bottom: 40px;
  }
  &-desc {
    text-align: center;
    margin-bottom: 30px;
    color: #667080;
  }
  &-item {
    font-size: 12px;
    padding-bottom: 32px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;
    &-top {
      font-weight: 700;
      font-size: 16px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &-content {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #667080;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
    &-list {
      display: block;
    }
    &-item:not(:first-child) {
      margin-bottom: 30px;
    }
  }
}
