footer {
  background: #090914;

  .footer-top {
    padding: 40px 0px;
    border-bottom: 1px solid #4B4B4B;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    } 
    @media screen and (max-width: 767px) {
      img{
        padding: 0 20px;
      }
      .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: unset;
      } 
    }
     @media screen and (max-width: 576px) {
      img{
        padding: 0 20px;
      }
    }
  }

  .footer-img{
    position: relative;
  }

  .footer-left{
    position: absolute;
    max-width: 475px;
    padding-left: 44px;
    padding-bottom: 14%;
    &-title{
      color: var(--neutral-05, #141414);
      /* H2- 1440 */
      font-size: 40px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      line-height: 110%;
    }
    &-desc{
      color: var(--neutral-01, #FFF);
      /* Text - 1440 */
      font-size: 18px;
      font-family: "Manrope";
      font-style: normal;
      padding: 20px 0px;
      font-weight: 400;
      line-height: 120%;
    }
    &-download{
      display: flex;
      gap: 20px;
    }
    @media screen and (max-width: 767px) {
      &-title{
        font-size: 25.887px;
        max-width: 286px;
        padding-top: 15px;
      }
      &-desc{
        font-size: 11.649px;
        max-width: 256px;
        padding: 10px 0px;
      }
      &-download{
        gap: 10px;
        img{
          padding: 0px !important;
        }
      }
    }
  }

  .footer-right{
    display: flex;
    gap: 44px;
    &-header{
      color: var(--neutral-01, #FFF);
      /* H4 -1440 */
      font-size: 24px;
      font-family: "Manrope";
      font-style: normal;
      padding-bottom:20px ;
      font-weight: 700;
      line-height: 110%;
    }
    &-actived {
      color: var(--primary-01, #0962FF) !important;
    }
    ul, li {
      color: var(--neutral-02, #9BA3B9);
      /* Text - 1440 */
      font-size: 18px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 767px) {
      display: block;
      padding-left: 25px;
      &-header{
        font-size: 20px;
      }
      ul, li { 
        font-size: 16px;
      }
    }
  }

  .footer-copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    text-align: center;

    /* Neutral/06 */

    color: rgba(246, 250, 253, 0.6);
    @media screen and (max-width: 767px) {
      font-size: 14px;
      // padding-left: 30px;
      text-align: left;
    }
  }

  .footer-social {
    margin-top: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  .footer-bottom {
    padding: 18px 0;
    background-color: #090914;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      margin-bottom: 0;
    }
  }

  
  @media screen and (max-width: 767px) {
   
    .footer-bottom {
      background-color: unset;
      .container {
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        align-items: unset;
      }

     
    }
  }
}
