header {
  .header-top {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 150px;
    background-color: #000000;
    width: 100%;
    justify-content: space-evenly;
    z-index: 99;
    @media screen and (max-width: 768px) {
      padding: 20px 30px;
    }
  }
  .header-solution{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 99;
  }

  .header-btn{
    padding: 16px 40px;
    background: #0765FF;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */


    color: #FFFFFF;
  }
  
  .header-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bg-menu {
    background-color: #ffffff;
  }

  .logo {
    width: 20%;
    @media screen and (max-width: 768px) {
      width: 85%;
    }
    @media screen and (min-width: 768px)  and (max-width: 1200px) {
      width: 85%;
    }
  }
  .hide {
    display: none;
  }
  .menu {
    display: flex;
    gap: 0 24px;
    &-item {
      padding: 0 14px;
      display: flex;
      align-items: baseline;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      gap: 0 2px;
      position: relative;
      .menu-icon-header {
        display: flex;
        padding-left: 5px;
      }
      .menu-dropdown {
        position: absolute;
        bottom: -10px;
        left: -7px;
        width: 100%;
        max-width: 100%;
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s;
      }
      .dropdown-item {
        padding: 10px 0;
        border-top: 1px solid #c4c4c4;
        text-align: center;
        white-space: unset;
        &:hover {
          background-color: unset;
        }
      }
      i {
        font-size: 15px;
      }
      span,
      a {
        transition: 0.2s;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        color: #FFFFFF;
        &:hover {
          color: #0765FF;
          text-decoration: none;
        }
      }
    }
  }

  .menu-active.actived {
    color: #0765FF;
  }

  .menu-item {
    &:hover > .menu-dropdown {
      opacity: 1;
      visibility: visible;
    }
    .menu-item-wrapper {
      display: flex;
    }
  }

  .header-cta {
    // display: flex;
    display: none;
    margin-left: auto;
    gap: 0 10px;
    .hide {
      display: none;
    }
    button {
      padding: 2.5px 16.5px;
      border-radius: 4px;
      color: #92a0a9;
      font-size: 14px;
      border: 1px solid #92a0a9;
    }
    button.active {
      background-color: #0095d4;
      color: white;
    }
  }

  .download {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  .download-other {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  @media screen and (max-width: 992px) {
    padding-inline: 20px;
    background-size: cover;
    background-position-x: 77%;
    .download-other {
      display: none;
    }
    .download-item {
      flex-shrink: 0;
      &:not(:nth-child(2)) {
        display: none;
      }
    }
    .header-top {
      margin-bottom: 80px;
    }

    .header-bar {
      display: flex;
      margin-left: auto;
      gap: 0 20px;
      align-items: center;
    }

    .link-home {
      color: #0095d4;
      font-weight: bold;
      text-transform: uppercase;
    }

    .header-fixed {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000;
      width: 100%;
      z-index: 999;
      display: block;
      padding: 20px;
      transform: translateX(100%);
      transition: all 0.2s;
      // transform: ;
    }

    .header-fixed.show {
      transform: translateX(0);
    }

    .menu {
      display: block;
      margin-bottom: 20px;
      &-item {
        padding-bottom: 10px;
        border-bottom: 1px solid #c4c4c4;
        display: block;
        i {
          font-size: 20px;
          color: #0095d4;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &-item:not(:first-child) {
        padding-top: 10px;
      }

      .menu-item.menu-home {
        display: flex;
        justify-content: space-between;
      }

      .menu-item-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        img.visible-s.active {
          transform: rotate(-90deg);
        }
      }

      .menu-dropdown {
        position: static;
        transform: translate(0);
        opacity: 1;
        visibility: visible;
        display: none;
      }
      .dropdown-item {
        text-align: left;
        padding-left: 20px;
      }
    }

    .header-cta {
      flex-wrap: wrap;
      max-width: 250px;
      margin: 0 auto;
      gap: 20px 0;
      justify-content: space-between;
      &-item:first-child {
        width: 100%;
        form {
          width: 100%;
          display: flex;
          input {
            border: 1px solid #667080;
            border-radius: 4px 0 0 4px;
            border-right: 0;
            flex-basis: 80%;
          }
          button {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }

    .header-social {
      margin-top: 20px;
      display: flex;
      padding: 0 40px;
      // justify-content: space-between;
      justify-content: space-evenly;
    }
  }
}



@include ipad {     
  .header-top{
    .header-btn{
      flex-shrink: 0;
      order: 1;
      margin-right: 30px;
    }

    .header-bar{
      order: 2;
    }
  }
}   