.home{
        &-about{
                margin-top: 160px;
                &-img{
                        width: 100%;
                }
                &-title{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 60px;
                        line-height: 120%;
                        text-align: center;
                        color: #1E232B;
                }
                &-content{
                        /* Text 24 */
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 36px;
                        text-align: center;
                        padding: 28px 0px;
                        /* Neutral/03 */

                        color: #4B4B4B;
                }
                &-download{
                        display: flex;
                        justify-content: center;
                        gap: 30px
                }
        }
}

.txt-purple{
        color: #0765FF;
}