.investing{
        background-color: #F6FAFD;
        padding: 60px 150px;
        @media screen and (max-width: 767px) {
                padding: 30px ;
        }
        &-main{
                background: url("/images/PC_index/bg-investing.png") no-repeat center/cover;
                border-radius: 20px;
                @media screen and (max-width: 767px) {
                        background: url("/images/PC_index/img-investing-mb.png") no-repeat center/cover;
                }
        }
        &-title{
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                line-height: 120%;
                /* or 67px */

                text-align: center;
                padding-top: 30px;
                color: #FFFFFF;
                @media screen and (max-width: 767px) {
                        font-size: 26px;
                        padding: 30px 40px 10px 40px;
                }
        }
        &-download{
                padding-bottom: 260px;
                display: flex;
                justify-content: center;
                gap: 30px;
                @media screen and (max-width: 767px) {
                        gap: 20px;
                        padding-bottom: 90px;
                        img{
                                width: 80%;
                        }
                        a:nth-child(1){
                                display: flex;
                                justify-content: end
                        }
                }
        }
}