.mission {
  &-main {
    display: flex;
    align-items: center;
  }
  &-list {
    max-width: 626px;
    // display: block !important;
  }

  &-title {
    display: flex;
    gap: 0 20px;
    align-items: center;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 767px) {
    &-list {
      display: flex !important;
      max-width: 100%;
    }
    &-item.slick-slide {
      padding: 30px 20px;
      background: url(../images/PC_index/mission-bg-xs.png) top center / cover;
      width: 100%;
      flex-shrink: 0;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
