.products {
  background-color: #eef1f4;
  padding-top: 70px;
  padding-bottom: 91px;
  &-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 49px;
  }
  &-list {
    padding: 0px 195px 0px 195px;
    display: flex;
    justify-content: center;
    gap: 0 40px;
  }
  &-item {
    max-width: 368px;
    text-align: center;
    img {
      margin: 0px auto;
    }
  }
  &-content {
    margin-bottom: 5px;
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
  &-desc {
    font-size: 12px;
    color: #667080;
    margin-bottom: 3px;
  }

  @media screen and (max-width: 767px) {
    &-list {
      padding: 0;
    }
    &-item {
      max-width: 100%;
    }
    .slick-initialized .slick-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
