.register {
  padding: 44px 105px;
  margin-bottom: 36px;
  &-list-wrapper {
    position: relative;
  }
  &-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  &-desc {
    padding-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #667080;
  }
  &-item {
    flex-shrink: 0;
  }

  &-content {
    text-align: center;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 60px;
  }

  &-link-item {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
    padding: 13px 10px;
    line-height: 26px;
    width: 340px;
    color: white;
    border-radius: 10px;
    background: #0095d4 url(../images/PC_index/img-BG-simply-register-1.png) top
      center / cover;
    &:last-child {
      background: linear-gradient(
          252.93deg,
          rgba(0, 170, 224, 0) 2.56%,
          #007dc7 92.69%
        )
        url(../images/PC_index/img-BG-simply-register-2.png) top center / cover;
    }
    p {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 767px) {
    margin-top: -180px;
    padding: 0 20px;
    .register-link {
      display: block;
    }
    .register-list {
      margin-bottom: 10px;
    }
    .register-link-item:first-child {
      margin-bottom: 20px;
    }
    .register-div-ul {
      display: flex;
      justify-content: center;
    }
  }
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 3px;
  background-color: #99d5ee;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #33aadd;
}
