html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  border: 0;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
  border: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}
