.unlock{
    background:  var(--neutral-05, #141414);
    padding: 80px 0px;
    &-title{
        color: #FFF;
        /* H2- 1440 */
        font-size: 40px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        @media screen and (max-width: 767px) {
            font-size: 32px;
        }
    }
    &-btn{
        padding-top: 40px;
        a {
                border-radius: 40px;
                border: 1px solid var(--primary-01, #0962FF);
                
                padding: 16px 28px;
                color: var(--neutral-01, #FFF);
                /* Button Text - 1440 */
                font-size: 18px;
                font-family: "Manrope";
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
                cursor: pointer;
        }
        a:hover{
                background: var(--primary-01, #0962FF);
                text-decoration: unset;
        }
    }
    &-img{
        padding-top: 200px;
        @media screen and (max-width: 767px) {
            padding: 50px 0px;
        }
    }
    &-item{
        padding: 30px 0px;
        border-bottom: 0.5px solid var(--primary-01, #0962FF);
        &-number{
            border-radius: 100px;
            border: 1px solid var(--primary-01, #0962FF);
            background: rgba(9, 98, 255, 0.20);
            padding: 5px 14px;
            color: var(--neutral-01, #FFF);
            /* H4 -1440 */
            font-size: 24px;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
        }
        &-title{
            color: var(--primary-02, #86B2FF);
            /* H4 -1440 */
            font-size: 24px;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            padding: 5px 0px;
            line-height: 110%;
            @media screen and (max-width: 767px) {
                font-size: 20px;
            }
        }
        &-desc{
            color: var(--neutral-02, #9BA3B9);
            /* Text - 1440 */
            font-size: 18px;
            padding-top: 5px;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
    &-item:nth-child(1){
        padding-bottom: 30px;
        padding-top: 0;
    }
}

.leverage{
    background:  var(--neutral-05, #141414);
    padding: 80px 0px;
    &-header{
        text-align: center;
        padding-bottom: 40px;
        font-size: 40px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        p{
            margin: 0;
        }
        @media screen and (max-width: 767px) {
            font-size: 32px;
        }
    }
    &-item{
        align-items: center;
        padding-bottom: 30px;
        &-img{
            display: flex;
            justify-content: center; 
            @media screen and (max-width: 767px) {
                padding-top: 15px;
                width: 60%;
                display: block;
            }
        }
        @media screen and (max-width: 767px) {
            padding: 0px 20px 30px 20px;
            align-items: unset;
        }
    }
    &-item:nth-child(odd) {
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }
    &-item:nth-child(even) {
        flex-direction: row-reverse;
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }
    &-title{
        color: var(--primary-02, #86B2FF);
        /* H3 - 1440 */
        font-size: 32px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        @media screen and (max-width: 767px) {
            font-size: 26px;
        }
    }
    &-desc{
        color: var(--neutral-02, #9BA3B9);
        /* Text - 1440 */
        padding-top: 20px;
        font-size: 18px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
    
}

.fusion-header{
    padding-top: 180px;
    padding-bottom: 50px;
    background-color: #000000;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.fusion-title{
    font-size: 48px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    @media screen and (max-width: 767px) {
        font-size: 36px;
    }
}

.fusion-desc{
    padding: 20px 0px;
    color: #9BA3B9;
    /* Text - 1440 */
    font-size: 18px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    p{
        margin: 0;
    }
    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.fusion-btn{
    padding-top: 20px;
    a{
            border-radius: 40px;
            border: 1px solid var(--primary-01, #0962FF);
            padding: 16px 28px;
            color: var(--neutral-01, #FFF);
            /* Button Text - 1440 */
            font-size: 18px;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
    }
    a:hover{
            text-decoration: unset;
            background: #0962FF;
            
    }
    @media screen and (max-width: 767px) {
        padding-top: 10px;
    }
}

// @media screen and (max-width: 767px) {
    .fusion-item:nth-last-child(1) {
        border-top: 1px solid var(--neutral-04, #6A6A6A);
    }
// }