@import "./mixins";
@mixin hideSroll() {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin textClamp($rows: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $rows;
    line-clamp: $rows; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.visible-s{
    @media screen and (min-width: 575px){
        display: none;
    }
}

.visible-md{
    @media screen and (min-width: 575px){
        display: none;
    }
}

.header-solution{
    .menu{
        a{
            color: rgba(75, 75, 75, 0.5);
            @media screen and (max-width: 992px){
                color: #FFFFFF
              }
        }
    }
   
}

.banner{
    position: relative;

    &-sidebar{
        position: absolute;
        bottom: 0;
        z-index: 10;
    }

    &-item{
        display: flex;
        padding: 186px 164px 127px;
        align-items: center;
        justify-content: space-evenly;
        &:not(.active){
            display: none;
        }

        &.active{
            animation: opacity 2.5s linear forwards;

            .banner-text{
                top: 50%;
            }
        }

        &:nth-child(even){
            flex-direction: row-reverse;
            justify-content: left;
            background: linear-gradient(241.94deg, rgba(202, 209, 219, 0.5) 14.08%, rgba(5, 88, 224, 0.5) 100.57%), #FFFFFF;
        }

        &:nth-child(odd){
            background: linear-gradient(241.94deg, rgba(7, 101, 255, 0.1) 14.08%, rgba(7, 101, 255, 0) 100.57%), #FFFFFF;
        }
    }

    &-thumb{
        position: absolute;
        bottom: 0;
        left: 93px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(7.5px);
        overflow: hidden;
    }

    &-text{
        max-width: 428px;
        transition: all 1s;
        &-top{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 120%;
            /* or 14px */
            padding-bottom: 5px;
            border-bottom: 1px solid #1E232B;
            /* Neutral/04 */

            color: #1E232B;

        }
        &-mid{
            margin: 22px 0px;
            font-style: normal;
            font-weight: 700;
            font-size: 57px;
            line-height: 120%;
            &-blue{
                color: #0765FF;
            }
            @media screen and (min-width: 861px) and (max-width: 1159px){
                margin: 10px 0px;
                font-size: 35px;
            }
        }
        &-bot{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            /* or 21px */


            /* Neutral/03 */

            color: #4B4B4B;
            @media screen and (min-width: 861px) and (max-width: 1159px){
                font-size: 13px;
            }
        }
        
        
    }

    &-img{
        img{
            width: 655px;
            height: 579px;
            // object-fit: cover;
        }
    }
}

.tab{
    &-list{
        max-height: 442px;
        width: 93px;
        overflow-y: auto;
        @include hideSroll;

        @media screen and (max-width: 715px) {
            display: none;
        }
    }

    &-item{
        transform: rotate(-90deg) translateX(-30px);
        margin-bottom: 80px;
        padding: 0 8px;
        transition: all 0.5s;
        cursor: pointer;

        &.active{
            color: rgba(7, 101, 255, 1);
            position: relative;
            border-bottom: 2px solid rgba(7, 101, 255, 1);
        }   
    }
}

.thumb{
    &-content{
        padding-left: 10px;
    }
    &-list{
        display: flex;
        overflow-x: auto;
        transition: all 0.5s;
        @include hideSroll();

        &.scrolling{
            transform: translateX(-93px);
        }
        // @media screen and (max-width: 750px){
        //     display: none;
        // }
    }

    &-item{
        min-width: 252px;
        flex-shrink: 0;
        height: 206px;
        cursor: pointer;
        border: 1px solid transparent;
        background: rgba(7, 101, 255, 0.1);
        
        &:nth-child(odd){
            background: rgba(7, 101, 255, 0);
        }

        &.active{
            border: 1px solid rgba(7, 101, 255, 1);

            .thumb-wrap{
                padding-left: 168px;
            }

            .thumb-img{
                left: 12px;
            }
        }
    }

    &-wrap{
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: all 1s;
    }

    &-img{
        flex-shrink: 0;
        position: absolute;
        left: -100%;
        transition: all 1s;
        img {
            width: 167px;
        }
    }

    &-title{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        &-blue{
            color: #0765FF;
        }
    }

    &-text{
        max-width: 227px;
        @include textClamp(2);
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        padding: 12px 0px;
    }

    &-readmore{
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        /* identical to box height, or 12px */
        margin-top: 12px;

        /* Primary */

        color: #0765FF;
    }
}

@media screen and (max-width: 1280px){
    .banner{
        &-item{
            padding-left: 150px;
            padding-right: 77px;
            padding-bottom: 145px;
        }

        &-img{
            flex-shrink: 0;
            width: 554px;
            height: 490px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 860px){
    .banner{
        &-text{
            font-size: 30px;
        }

        &-item{
            &:nth-child(odd){
                padding-left: 115px;
                padding-right: 44px;
            }

            &:nth-child(even){
                padding-right: 115px;
                padding-left: 44px;
            }
            
            padding-bottom: 254px;
        }

        &-img{
            width: 346px;
            height: 306px;
        }
    }
}

@media screen and (max-width: 640px){
    .banner{
        &-thumb{
            display: none;
        }

        &-sidebar{
            display: none;
        }

        &-text{
            font-size: 30px;
        }

        &-item{
            padding-left: 164px;
            padding-right: 90px;
            padding-bottom: 145px;
            flex-direction: column;

            &:nth-child(even){
                flex-direction: column;
            }
        }

        &-img{
            width: 346px;
            height: 306px;
        }
    }
}

@media screen and (max-width: 575px){
    .banner{
        &-item{
            width: 100%;
            padding-left: 18px;
            padding-right: 18px;
            padding-bottom: 78px;
            display: block !important;
            flex-shrink: 0;
        }

        &-img{
            width: 100%;
            height: 232px;
        }
    }
}

// @media screen and (min-width: 420px){
//     .banner{
//         .slick-dots{
//             display: block !important;
//             left: 20px;
//             transform: translate(0);
//             bottom: 0;
//             overflow-y: auto;
//             max-width: 93px;
//             height: 100%;
//             max-height: 652px;

//             li{
//                 width: fit-content;
//                 padding: 8px;
//                 background: transparent;
//                 transform: rotate(-90deg) translateX(-30px);
//                 display: block;
//                 margin-bottom: 63px;

//                 &.slick-active{
//                     background-color: transparent;

//                     button{
//                         color: black;
//                     }
//                 }

//                 button{
//                     font-size: 14px;
//                     font-weight: 500;
//                     color: rgba(75, 75, 75, 0.5);
//                     width: auto;
//                     height: auto;
//                     background: transparent;


//                     &::before{
//                         display: none;
//                     }
//                 }
//             }   
//         }
//     }
// }

@media screen and (min-width: 768px) {
    .banner{
        .slick-dots{
            display: none !important;
        }
    }
}

@media screen and (max-width: 767px){
    .banner{
        .slick-dots{
            display: flex;
            gap: 0;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            justify-content: center;

            li{
                margin: 0;
                width: 18px;
                height: 2px;
                background: #C8C8C8;

                &.slick-active{
                    background: rgba(7, 101, 255, 1);
                }

                button{
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes opacity {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@keyframes transformText {
    0%{
        top: 100%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}