.swap{
        padding: 140px 0px 180px 0px;
        background-color: #0D0C13;
        font-family: 'manrope';
        &-main{
                display: flex;
                justify-content: space-between;
        }
        .swap-left{
                padding-top: 40px;
        }
        .swap-left-title{
                color: #FFF;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%; 
                @media screen and (max-width: 768px) {
                        font-size: 28px;
                }
        }
        .swap-left-content{
                padding: 20px 0px 60px 0px;
                color: #0D9EFF;
                font-size: 40px;
                font-style: italic;
                font-weight: 600;
                line-height: 120%; /* 48px */
                letter-spacing: 0.18px;
                @media screen and (max-width: 768px) {
                        font-size: 28px;
                        padding: 20px 0px ;
                }
        }
        .swap-left-list{
                display: flex;
                padding-left: 0px;
                li{
                        width: 30%;
                        color: #FFF;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 15px;
                        padding-top: 15px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%; 
                        @media screen and (max-width: 767px) {
                                width: 33%;
                                font-size: 15px;
                        }
                }
                li:nth-child(1){
                        border: 1px solid var(--neutral-04, #6A6A6A);
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                }li:nth-child(2){
                        border-top: 1px solid var(--neutral-04, #6A6A6A);
                        border-bottom: 1px solid var(--neutral-04, #6A6A6A);
                }
                li:nth-child(3){
                        border: 1px solid var(--neutral-04, #6A6A6A);
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                }
        }
        .swap-right-box{
                padding: 24px;
                border-radius: 21.579px;
                background: rgba(134, 178, 255, 0.10);
                .box-top{
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;  
                        margin-bottom: 25px;
                        a{
                                cursor: pointer;
                        }
                }
                .box-top-width{
                        width: 80%;
                        ul{
                                display: flex;
                                padding-top: 10px;
                                gap: 10px;
                                padding-left: 0px;
                                li{
                                        padding: 2px;
                                        background:  #FFFFFF;
                                        border-radius: 4.316px;
                                        width: 20%;
                                }
                        }
                        .dot-gradient{
                                background: #0765FF;
                        }
                }
                .box-top-title{
                        color: #FFF;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 25.895px; /* 117.703% */
                        letter-spacing: -0.216px;
                        @media screen and (max-width: 768px) {
                                font-size: 20px;
                        }
                }
                .box-sellbuy{
                        display: flex;
                        background: #f0f1f5;
                        margin: 18px 0px 12px 0px;
                        width: 100%;
                        border-radius: 12.947px;
                        .sellbuy-buy{
                                width: 50%;
                                padding: 16px 0px;
                                background: #ffffff;
                                color: #010615;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                border-radius: 10.789px;
                                box-shadow: 0px 3.23684px 12.94737px -4.31579px rgba(130, 138, 157, 0.41), 0px 0px 0px 1.07895px rgba(218, 221, 230, 0.32);
                                @media screen and (max-width: 768px) {
                                        padding: 10px 0px;
                                }
                        }
                        .sellbuy-sell{
                                width: 50%;
                                color: #656870;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                padding: 16px 0px;
                                border-top-right-radius: 10.789px;
                                border-bottom-right-radius:10.789px;
                                @media screen and (max-width: 768px) {
                                        padding: 10px 0px;
                                }
                        }
                }
                .box-getsend{
                        margin-top: 5px;
                        padding: 13px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: #F7F2FF;
                        .getsend-text{
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 123.308% */
                                letter-spacing: 0.173px;
                        }
                        .getsend-number{
                                color: #010615;
                                font-family: Manrope;
                                font-size: 26px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 30.211px;
                                @media screen and (max-width: 768px) {
                                        font-size: 16px;
                                }
                        }
                        @media screen and (max-width: 768px) {
                                .getsend-right{
                                        justify-content: right;
                                        display: flex;
                                        img{
                                                width: 70%;
                                        }
                                }
                        }
                }
                .getsend-top{
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        position: relative;
                }
                .getsend-bottom{
                        
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                }
                .box-payment{
                        display: flex;
                        padding: 12px 0px;
                        justify-content: space-between;
                        img {
                                max-width: unset;
                                width: 33%;
                        }
                }
                .box-btn {
                        padding: 20px 37px;
                        width: 100%;
                        background: #0765FF;
                        border-radius: 15px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        z-index: 1;
                        display: inline-block;
                        transition: all 0.3s;
                        position: relative;
                        overflow: hidden;
                        color: #F0F0F0 !important;
                        @media screen and (max-width: 768px) {
                                padding: 10px 37px;
                        }
                }
                .btnDisable{
                        background: #5F6F8D !important;
                        color: #DADDE5 !important;
                }
                .btnDisable:after{
                        background: #5F6F8D !important;
                        color: #DADDE5 !important;
                }
                .box-btn:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #0765FF;
                        z-index: -2;
                }
                
                .box-btn:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 100%;
                        background-color: #ffffff42;
                        transition: all 0.3s;
                        border-radius: 15px;
                        z-index: -1;
                }
                .box-btn:hover:before {
                        width: 100%;
                }
                .box-btnGrey {
                        padding: 20px 37px;
                        width: 100%;
                        background: rgba(255, 255, 255, 0.10);;
                        border-radius: 15px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        z-index: 1;
                        display: inline-block;
                        transition: all 0.3s;
                        position: relative;
                        overflow: hidden;
                        color: #F0F0F0 !important;
                        @media screen and (max-width: 768px) {
                                padding: 10px 37px;
                        }
                }
                .box-btnGrey:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0.10);
                        z-index: -2;
                }
                
                .box-btnGrey:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 100%;
                        background-color: #ffffff42;
                        transition: all 0.3s;
                        border-radius: 15px;
                        z-index: -1;
                }
                .box-btnGrey:hover:before {
                        width: 100%;
                }
                .box-doubleArrow{
                        position: absolute;
                        top: 81%;
                        left: 45%;
                }
                .box-bg-inputAdd{
                        border-radius: 8px;
                        border: 1px solid var(--Primary, #0765FF);
                        background: #DBDDED;
                        padding: 7px;
                        margin: 5px 0px;
                }
                .box-inputAdd{
                        position: relative;
                        display: inline-block;
                        margin: 15px 0px;
                        width: 100%;
                        .box-inputAdd-input {
                                // padding-right: 36px; /* Khoảng cách padding 6px từ input border */
                                width: 100%;
                                padding-left: 10px;
                                // border-radius: 8px;
                                // border: 1px solid #0765FF;
                                background: transparent;
                        }
                        .box-inputAdd-btn {
                                position: absolute;
                                right: 15px;
                                top: -6px;
                                padding: 10px;
                                border-radius: 8px;
                                background: #FFF;
                                box-shadow: 0px 3.23684px 12.94737px -4.31579px rgba(130, 138, 157, 0.20), 0px 0px 0px 1.07895px rgba(218, 221, 230, 0.32);
                                color: #0D9EFF;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 21.579px; /* 134.868% */
                                letter-spacing: 0.173px;
                        }
                }
                .box-haveAddress{
                        border-radius: var(--spacing-spacing-none, 0px) var(--spacing-spacing-none, 0px) 16px 16px;
                        background: #DBDDED;
                        padding: 16px;
                        margin: 5px 0px;
                        .box-haveAddress-top{
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                img{
                                        width: 24px;
                                        height: 24px;
                                }
                                .box-haveAddress-title{
                                        color: #656870;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 17.263px; /* 107.895% */
                                        letter-spacing: 0.173px;
                                }
                                @media screen and (max-width: 767px) {
                                        padding-left: 10px;
                                }
                                
                        }
                        .box-haveAddress-text{
                                color: #161616;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                padding: 7px 0px 0px 10px;
                        }
                }
                .box-addMail{
                        padding: 16px;
                        border-radius: 8px;
                        border: 1px solid #0765FF;
                        background: #DBDDED;
                        display: flex;
                        cursor: pointer;
                        justify-content: space-between;
                        align-items: center;
                        .box-addMail-left{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                color: #010615;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                .txt-Email-step4{
                                        color: #656870;
                                        padding-top: 3px;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 17.263px; /* 107.895% */
                                        letter-spacing: 0.173px;
                                }
                        }
                }
                .box-agree{
                        display: flex;
                        gap: 10px;
                        padding: 12px 0px;
                        align-items: center;
                        .box-agree-txt{
                                color: #FFF;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                        }
                        .box-agree-purple{
                                color: #86B2FF;
                        }
                        .checkbox-container {
                                display: inline-block;
                                position: relative;
                                padding-left: 20px; /* Adjust the size of the checkbox */
                                margin-right: 10px; /* Add some spacing between checkboxes */
                              }
                              
                              /* Hide the default checkbox input */
                              .checkbox-container input[type="checkbox"] {
                                display: none;
                              }
                              
                              /* Style the custom checkbox */
                              .checkbox-custom {
                                width: 28px;
                                height: 28px;
                                background-color: #0765FF; /* Set the background color */
                                border: 2px solid #185dce; /* Set the border color */
                                position: absolute;
                                top: -9px;
                                border-radius: 3px;
                                left: 0;
                              }
                              
                              /* Style the checkmark (hidden by default) */
                              .checkbox-custom::after {
                                content: "";
                                position: absolute;
                                display: none;
                              }
                              
                              /* Show the checkmark when the checkbox is checked */
                              .checkbox-container input[type="checkbox"]:checked + .checkbox-custom::after {
                                display: block;
                                width: 6px; /* Adjust the size of the checkmark */
                                height: 12px; /* Adjust the size of the checkmark */
                                border: solid #371345; /* Set the checkmark color */
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                top: 50%;
                                left: 50%;
                                transform-origin: center;
                                margin-top: -7px; /* Center the checkmark vertically */
                                margin-left: -3px; /* Center the checkmark horizontally */
                              }
                }
                .box-menu-item{
                        padding: 16px;
                        margin-top: 3px;
                        background: #F7F2FF;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .box-menu-item-left{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                color: #010615;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                        }
                }
                .menuitem1{
                        border-top-right-radius: 8px;
                        border-top-left-radius: 8px;
                }
                .box-menu-item:last-child{
                        border-bottom-right-radius: 8px;
                        border-bottom-left-radius: 8px;
                }
                .box-stepAddMail{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                                padding-top: 37px;
                        }
                        .box-stepAddMail-title{
                                color: var(--neutral-01, #FFF);
                                font-size: 22px;
                                font-style: normal;
                                padding: 8px 0px 12px 0px;
                                font-weight: 700;
                                line-height: 25.895px; /* 117.703% */
                                letter-spacing: -0.216px;
                        }
                        .box-stepAddMail-desc{
                                color: var(--neutral-01, #FFF);
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                p{
                                        margin-bottom: 0px;
                                }
                        }
                }
                .box-input-AddMail{
                        border-radius: 12px;
                        background: #DBDDED;
                        padding: 16px;
                        margin: 15px 0px;
                        .box-input-AddMail-top{
                                color: var(--Primary, #0765FF);
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                                padding-bottom: 5px;
                        }
                        .box-input-AddMail-bottom{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                a{
                                        cursor: pointer;
                                }
                                input{
                                        background: transparent;
                                        width: 95%;
                                }
                        }
                }
                .box-notify{
                        background-color: #090914;
                        border-radius: 12px;
                        padding: 20px;
                        display: none;
                        position: absolute;
                        z-index: 99;
                        width: 90%;
                        top: 10%;
                        align-items: center;
                        .box-notify-text{
                                padding: 0px 40px 0px 10px;
                                color: var(--neutral-01, #FFF);
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                        }
                }
                .box-validateUSDT{
                        color: var(--color-state-colors-error, #EB5B56);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 17.263px; /* 107.895% */
                        letter-spacing: 0.173px;
                        padding-bottom: 15px;
                }
                .box-redirect{
                        padding-top: 30px;
                        text-align: center;
                        margin-bottom: 24px;
                        .box-redirect-title{
                                color: #FFF;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 25.895px; /* 117.703% */
                                letter-spacing: -0.216px;
                        }
                        .box-redirect-desc{
                                color: #FFF;
                                padding-top: 5px;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 17.263px; /* 107.895% */
                                letter-spacing: 0.173px;
                        }
                }
                @media screen and (max-width: 768px) {
                        margin-top: 30px;
                        padding: 15px;
                }
        }
        @media screen and (max-width: 768px) {
                padding: 40px 20px 0px 20px;
        }
}