.up {
  padding-top: 23px;
  padding-bottom: 70px;
  &-item{
    padding: 0 10px;
  }
  &-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  &-img{
    display: flex;
    justify-content: center;
   
  }
  &-slide-top{
    display: flex;
    justify-content: center;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }
  &-item-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #667080;
    margin-top: 16px;
  }
  &-item-desc {
    text-align: justify;
    color: #667080;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0px !important;
    max-width: 367px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    &-list {
      // overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item {
      width: 100%;
      flex-shrink: 0;
      text-align: center;
      img {
        margin: 0 auto;
      }
    }
  }
}
