.why {
  background-color: #F6FAFD;
  padding-top: 80px;
  padding-bottom: 100px;
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    /* or 67px */

    text-align: center;

    /* Neutral/04 */
    padding-bottom: 52px;
    color: #1E232B;
    &-top {
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      margin: 0 auto;
    }
    &-body {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      margin: 0 auto;
      color: #667080;
    }
    &-end {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #667080;
      padding-top: 15px;
    }
  }
  &-content{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    padding: 12px 0px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutral/04 */

    color: #1E232B;
  }
  &-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */

    text-align: center;

    /* Neutral/03 */

    color: #4B4B4B;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px 64px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(33.33% - 42.67px);
  }
  &-img {
    height: 64px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-top: 5px;
  }

  //css cho trang investors
  &-trust {
    background-color: #f3faff;
    padding-top: 32px;
    padding-bottom: 75px;
  }
  &-trust-content {
    text-align: center;
    a:hover {
      background-color: #05a8ec;
      text-decoration: none;
      color: white;
    }
  }
  &-trust-title {
    font-size: 24px;
    margin-bottom: 7px;
  }
  &-trust-desc {
    font-size: 14px;
    color: #667080;
    padding-bottom: 35px;
  }
  &-trust-link-item {
    border: 3px solid #05a8ec;
    color: #05a8ec;
    padding: 17px 28px 17px 28px;
    border-radius: 55px;
    font-size: 24px;
  }

  @media screen and (max-width:767px) {
    padding: 30px 20px;
    &-list {
      flex-direction: column;
      gap: 20px 0;
    }
    &-item {
      width: 100%;
    }
  }
}
