<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyMoney Detail</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.svg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/docs.theme.min.css" />

    <!-- Owl Stylesheets -->

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <!-- <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
      ></script> -->
    <!-- <link
        rel="stylesheet"
        href="https://unpkg.com/swiper/swiper-bundle.min.css"
      /> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="contact-page">
        <div class="header-top">
          <a href="index.html" class="logo">
            <img src="../images/PC_index/logo.svg" alt="" />
          </a>
          <div class="header-bar visible-s">
            <a href="blog.html" class="link-home menu-link menu-active actived"
              >Blog</a
            >
            <img src="../images/PC_index/icon-bar.svg" alt="" />
          </div>
          <div class="header-fixed">
            <ul class="menu">
              <li class="menu-item menu-home">
                <a href="index.html" class="menu-link menu-active">Home</a>
                <i class="fas fa-times close-header-fixed visible-s"></i>
              </li>
              <li class="menu-item">
                <a href="about.html" class="menu-link menu-active">Solutions</a>
              </li>
              <li class="menu-item">
                <a
                  target="_blank" href="https://docs.mymoney.credit/"
                  class="menu-link menu-active menu-borrowers"
                  >Docs
                </a>
              </li>
              <!-- <li class="menu-item">
                <div class="menu-item-wrapper">
                  <span>
                    <a href="investors.html" class="menu-link menu-active"
                      >Investors</a
                    >
                  </span>
                  <span class="menu-icon-header"
                    ><img
                      src="../images/PC_index/icon-menu.svg"
                      class="visible-lg"
                      alt=""
                  /></span>
                  <img
                    src="../images/PC_index/icon-dropdown-mb.svg"
                    class="visible-s"
                    alt=""
                  />
                </div>
                <ul class="menu-dropdown bg-menu">
                  <li class="dropdown-item">
                    <a href="investors.html" class="menu-link">White Paper</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="investors.html" class="menu-link">Products</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="detail.html" class="menu-link">FAQs</a>
                  </li>
                </ul>
              </li> -->
              <li class="menu-item">
                <a href="blog.html" class="menu-link menu-active actived"
                  >Blog</a
                >
              </li>
              <li class="menu-item">
                <a href="contact.html" class="menu-link menu-active">Contact</a>
              </li>
            </ul>
            <ul class="header-cta">
              <li class="header-cta-item">
                <form action="">
                  <input type="text" placeholder="" class="visible-s" />
                  <button><i class="fas fa-search"></i></button>
                </form>
              </li>
              <li class="header-cta-item">
                <button onclick="changeLanguage()">
                  <span id="language">EN</span>
                </button>
              </li>
              <li class="header-cta-item">
                <button>Register</button>
              </li>
              <li class="header-cta-item">
                <button class="active">Login</button>
              </li>
            </ul>
            <ul class="header-social footer-social visible-s">
              <li>
                <a href="#!">
                  <img src="../images/PC_index/header-icon-fb.svg" alt="" />
                </a>
              </li>
              <!-- <li>
                <a href="#!">
                  <img src="../images/PC_index/header-icon-insta.svg" alt="" />
                </a>
              </li> -->
              <li>
                <a href="#!">
                  <img src="../images/PC_index/header-icon-tt.svg" alt="" />
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="detail-page-main">
          <section class="container">
            <div class="news-title">
              <strong
                >Another major hack: $100 million worth of crypto is now
                missing</strong
              >
            </div>
            <div class="news-content">
              <div class="news-content-item-1">
                <ul class="suggest-list">
                  <li class="suggest-item">
                    <a>InsideMM</a>
                  </li>
                  <li class="suggest-item">
                    <a>Tricks</a>
                  </li>
                  <li class="suggest-item">
                    <a>Updates</a>
                  </li>
                  <li class="suggest-item">
                    <a>Products</a>
                  </li>
                </ul>
              </div>
              <div class="news-content-item-2">
                <p>
                  Published: 24 Jun 2022&nbsp;&nbsp; by
                  <strong>Ryan Browne</strong>
                  <strong>&nbsp;&nbsp;3’33</strong> minutes read
                </p>
              </div>
            </div>
            <div class="news-img">
              <img src="../images/PC_blog/img4.png" alt="" />
            </div>
            <div class="news-desc">
              <p>
                In the latest major heist in the world of decentralized finance,
                hackers stole $100 million in cryptocurrency from Horizon, a
                so-called blockchain bridge.
              </p>
              <p>
                The details of the attack are very minimalized, but Harmony, the
                developers behind Horizon, said on Wednesday morning, they had
                identified the theft. An individual account considered the
                culprit has now been under investigation.
              </p>
              <p>
                As tweeted on that late Wednesday, the company said that they
                had begun working with national authorities and forensic
                specialists to identify the culprit and retrieve the stolen
                funds. In a recent tweet, Harmony said it’s working with the
                Federal Bureau of Investigation and multiple cybersecurity firms
                to investigate the attack.
              </p>
              <p>
                Blockchain bridges play an important role in the DeFi space,
                allowing users to transfer assets from one blockchain to
                another. In the case of Horizon, users can send tokens from the
                Ethereum network to the Binance Smart Chain. According to
                Harmony, the attack had no effect on a separate bitcoin bridge.
              </p>
              <p>
                According to Jess Symington, research lead at blockchain
                analysis firm Elliptic, bridges ""maintain large stores of
                liquidity,"" making them a ""tempting target for hackers.""
                <br />
                Symington explained that assets are locked on one blockchain and
                unlocked, or minted, on another in order for individuals to use
                bridges to move their funds. Therefore, these services hold
                significant amounts of crypto assets.
              </p>
              <p>
                Harmony has not revealed how the funds were obtained. However,
                one investor expressed concerns about the Horizon bridge's
                security as early as April.
              </p>
              <p>
                The Horizon bridge's security was based on a ""multisig"" wallet
                that required only two signatures to initiate transactions. Some
                researchers believe the breach was caused by a ""private key
                compromise,"" in which hackers obtained the password, or
                passwords, required to access a cryptocurrency wallet.
              </p>
              <p>
                Before this attack, other high-profile blockchain bridges are
                also the targets. The Ronin Network, which supports the crypto
                game Axie Infinity, lost more than $600 million in a March
                security breach. Another popular bridge, Wormhole, lost over
                $320 million in a separate hack a month earlier.
              </p>
              <p>
                This heist is the latest in a string of bad news for
                cryptocurrency. After a sharp drop in the value of assets caused
                a liquidity crunch, crypto lenders like Celsius and Babel
                Finance froze withdrawals. Meanwhile, Three Arrows Capital is in
                a difficult position when they have $660 million loan from
                brokerage firm Voyager Digital.
              </p>
            </div>
            <div class="news-infor">
              <hr />
              <div class="news-contact">
                <span> Like this article? Spread the word. </span>
                <span class="news-contact-link">
                  <img src="../images/PC_blog/facebook.svg" alt="" />
                  <img src="../images/PC_blog/twitter.svg" alt="" />
                  <img src="../images/PC_blog/gmail.svg" alt="" />
                  <img src="../images/PC_blog/linked.svg" alt="" />
                </span>
              </div>
              <hr />
              <h3 class="news-end"><strong>Related Articles</strong></h3>
              <hr />
            </div>
          </section>
          <section class="up">
            <div class="container up-main reveal">
              <h3 class="up-title"><strong>What we’ve been up to</strong></h3>
              <ul class="up-list slide-list">
                <li class="up-item slide-item">
                  <a href="detail.html">
                    <div class="up-img">
                      <img src="../images/PC_blog/img1.png" alt="" />
                    </div>
                  </a>
                  <div class="up-content">
                  <a href="detail.html">
                    <p class="up-item-title">
                      <strong>Crytocurrency is losing its fame as the market goes down</strong>
                    </p>
                  </a>
                    <p class="up-item-desc">
                      In the latest major heist in the world of decentralized finance, 
                      hackers stole $100 million in cryptocurrency from Horizon, 
                      a so-called blockchain bridge.
                    </p>
                  </div>
                </li>
                <li class="up-item slide-item">
                  <a href="detail-1.html">
                    <div class="up-img">
                      <img src="../images/PC_blog/img2.png" alt="" />
                    </div>
                  </a>
                  <div class="up-content">
                    <a href="detail-1.html">
                      <p class="up-item-title">
                        <strong>GBPT stablecoin pegged to British pound sterling introduced by Tether</strong>
                      </p>
                    </a>
                    <p class="up-item-desc">
                      Tether - a blockchain-enabled platform has decided 
                      to introduce new stablecoin called GBPT in response to Britain’s 
                      plan to adopt stablecoins as a means of payment. The new coin is hoped to 
                      become an industry innovation in the United Kingdom.
                    </p>
                  </div>
                </li>
                <li class="up-item slide-item">
                  <a href="detail-2.html">
                    <div class="up-img">
                      <img src="../images/PC_blog/img3.png" alt="" />
                    </div>
                  </a>
                  <div class="up-content">
                    <a href="detail-2.html">
                      <p class="up-item-title">
                        <strong>Accredited investors' crypto assets are recognized by a Singapore trading platform</strong>
                      </p>
                    </a>
                    <p class="up-item-desc">
                      Singapore-based private securities platform 
                      ADDX announced that it has become the first city state's 
                      financial firm to recognize cryptocurrency in its assessment 
                      of high-net-worth clients' assets.
                    </p>
                  </div>
                </li>
                <li class="up-item slide-item">
                  <a href="detail-3.html">
                    <div class="up-img">
                      <img src="../images/PC_blog/img4.png" alt="" />
                    </div>
                  </a>
                  <div class="up-content">
                    <a href="detail-3.html">
                      <p class="up-item-title">
                        <strong>Another major hack: $100 million worth of crypto is now missing</strong>
                      </p>
                    </a>
                    <p class="up-item-desc">
                      In the latest major heist in the world 
                      of decentralized finance, hackers stole $100 
                      million in cryptocurrency from Horizon, a so-called blockchain bridge.
                    </p>
                  </div>
                </li>
                <li class="up-item slide-item">
                  <a href="detail-4.html">
                    <div class="up-img">
                      <img src="../images/PC_blog/img5.png" alt="" />
                    </div>
                  </a>
                  <div class="up-content">
                    <a href="detail-4.html">
                      <p class="up-item-title">
                        <strong>Stablecoins reaches its peak while cryptocurrency going down</strong>
                      </p>
                    </a>
                    <p class="up-item-desc">
                      Another indicator of growing 
                      bearish sentiment in crypto markets is an increase in 
                      stablecoin dominance, which has now reached all-time highs.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </div>

        <section class="daily">
          <div class="daily-content reveal">
            <h3 class="daily-title">Our Daily Newsletter</h3>
            <p class="daily-desc">Sign up for updates</p>
            <form action="">
              <input
                type="text"
                class="contact-input"
                placeholder="Your email"
              />
              <button>Subscribe Now</button>
            </form>
          </div>
        </section>
      </main>
      <footer>
        <div class="footer-top">
          <div class="container">
            <div class="footer-contact">
              <a href="index.html"
                ><img
                  src="../images/PC_index/logo-footer.svg"
                  class="footer-logo"
                  alt=""
              /></a>
              <ul class="footer-link">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="about.html">Solutions</a>
                </li>
                <li>
                  <a target="_blank" href="https://docs.mymoney.credit/">Docs</a>
                </li>
                <li>
                  <a href="blog.html">Blog</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
            <div class="footer-follow">
              <span class="visible-lg">Follow us:</span>
              <ul class="footer-social visible-lg">
                <li>
                  <a href="#!">
                    <img src="../images/PC_index/icon-fb.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#!">
                    <img src="../images/PC_index/icon-twitter.png" alt="" />
                  </a>
                </li>
              </ul>
              <ul class="footer-download">
                <li>
                  <a href="#!">
                    <img src="../images/PC_index/img-GooglePlay.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://testflight.apple.com/join/ipqxh4LQ">
                    <img src="../images/PC_index/img-AppStore.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://drive.google.com/file/d/1UT9ZL1gUsmAmK3gvFDAbDHwSXo8byTrP/view?usp=sharing">
                    <img src="../images/PC_index/img-Android.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-input">
              <div class="footer-input-title">Sign up for updates:</div>
              <form action="">
                <input type="email" placeholder="Enter Email Field" />
                <button>Register</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <ul class="footer-social visible-s">
              <li>
                <a href="#!">
                  <img src="../images/PC_index/icon-fb.svg" alt="" />
                </a>
              </li>
              <li>
                <a href="#!">
                  <img src="../images/PC_index/icon-tt.svg" alt="" />
                </a>
              </li>
            </ul>
            <p class="footer-copyright">© 2023 MyMoney.Credit | All rights reserved</p>
          </div>
        </div>
        <a href="#" class="back-to-top">
          <img src="../images/PC_index/keyboard_double_arrow_up.svg" alt="" />
        </a>
      </footer>
    </div>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/slide.js"></script>
    <script src="../js/app.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
